* {
    margin: 0;
    padding: 0;
    /* font-family: ; */
}

body {
height: 100vh;
width: auto;
display: flex;
justify-content: center;
align-items: center;
background-image: url(https://images.pexels.com/photos/1547813/pexels-photo-1547813.jpeg);
background-size: 100vh ;

}

#gameBoard {
    border: solid 1.5vmin rgba(0, 0, 0, .9); 
    height: 95vmin;
    width: 100vmin;
    background-color: rgba(255, 255, 255, .3);
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(31, 1fr);
}

.snake {
    background-color: hsl(black, 100%, 50%);
}

.food {
    background-color: hsl(red, 100%, 50%);
}